In [ ]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Abc','Xyz','Def','Pqr','Stu','Mno','Bcd',
   'Cde','Ghi','Lmn','Nop','Efg']),
   'Age':pd.Series([30,31,32,30,25,27,26,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df)

   Name  Age  Rating
0   Abc   30    4.23
1   Xyz   31    3.24
2   Def   32    3.98
3   Pqr   30    2.56
4   Stu   25    3.20
5   Mno   27    4.60
6   Bcd   26    3.80
7   Cde   34    3.78
8   Ghi   40    2.98
9   Lmn   30    4.80
10  Nop   51    4.10
11  Efg   46    3.65

In [ ]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Abc','Xyz','Def','Pqr','Stu','Mno','Bcd',
   'Cde','Ghi','Lmn','Nop','Efg']),
   'Age':pd.Series([30,31,32,30,25,27,26,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.sum())

Name      AbcXyzDefPqrStuMnoBcdCdeGhiLmnNopEfg
Age                                        402
Rating                                   44.92
dtype: object

In [ ]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Abc','Xyz','Def','Pqr','Stu','Mno','Bcd',
   'Cde','Ghi','Lmn','Nop','Efg']),
   'Age':pd.Series([30,31,32,30,25,27,26,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
 
#Create a DataFrame
df = pd.DataFrame(d)
print (df.sum(1))

0     34.23
1     34.24
2     35.98
3     32.56
4     28.20
5     31.60
6     29.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Abc','Xyz','Def','Pqr','Stu','Mno','Bcd',
   'Cde','Ghi','Lmn','Nop','Efg']),
   'Age':pd.Series([30,31,32,30,25,27,26,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.mean())

Age       33.500000
Rating     3.743333
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Abc','Xyz','Def','Pqr','Stu','Mno','Bcd',
   'Cde','Ghi','Lmn','Nop','Efg']),
   'Age':pd.Series([30,31,32,30,25,27,26,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.std())

Age       8.096015
Rating    0.661628
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Abc','Xyz','Def','Pqr','Stu','Mno','Bcd',
   'Cde','Ghi','Lmn','Nop','Efg']),
   'Age':pd.Series([30,31,32,30,25,27,26,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.describe())

             Age     Rating
count  12.000000  12.000000
mean   33.500000   3.743333
std     8.096015   0.661628
min    25.000000   2.560000
25%    29.250000   3.230000
50%    30.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [ ]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Abc','Xyz','Def','Pqr','Stu','Mno','Bcd',
   'Cde','Ghi','Lmn','Nop','Efg']),
   'Age':pd.Series([30,31,32,30,25,27,26,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.describe(include=['object']))

       Name
count    12
unique   12
top     Xyz
freq      1

In [ ]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Abc','Xyz','Def','Pqr','Stu','Mno','Bcd',
   'Cde','Ghi','Lmn','Nop','Efg']),
   'Age':pd.Series([30,31,32,30,25,27,26,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df. describe(include='all'))

       Name        Age     Rating
count    12  12.000000  12.000000
unique   12        NaN        NaN
top     Xyz        NaN        NaN
freq      1        NaN        NaN
mean    NaN  33.500000   3.743333
std     NaN   8.096015   0.661628
min     NaN  25.000000   2.560000
25%     NaN  29.250000   3.230000
50%     NaN  30.500000   3.790000
75%     NaN  35.500000   4.132500
max     NaN  51.000000   4.800000

In [ ]:
# Import package
from pandas import DataFrame

# Create DataFrame
cart = {'Product': ['Samsung', 'Apple', 'Xiaomi', 'Oppo', 'Huwaei'],
		'Price': [20000, 48000, 22000, 19000, 45000],
		'Year': [2014, 2015, 2016, 2017, 2018]
		}
df = DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Describing descriptive statistics of Price
print("\nDescriptive statistics of Price:\n")
stats = df['Price'].describe()
print(stats)

Original DataFrame:
    Product  Price  Year
0  Samsung  20000  2014
1    Apple  48000  2015
2   Xiaomi  22000  2016
3     Oppo  19000  2017
4   Huwaei  45000  2018

Descriptive statistics of Price:

count        5.00000
mean     30800.00000
std      14411.80072
min      19000.00000
25%      20000.00000
50%      22000.00000
75%      45000.00000
max      48000.00000
Name: Price, dtype: float64

In [ ]:
# Import package


# Create DataFrame
cart = {'Product': ['Samsung', 'Apple', 'Xiaomi', 'Oppo', 'Huwaei'],
		'Price': [20000, 48000, 22000, 19000, 45000],
		'Year': [2014, 2015, 2016, 2017, 2018]
		}
df = DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Describing descriptive statistics of Year
print("\nDescriptive statistics of year:\n")
stats = df['Year'].describe()
print(stats)

Original DataFrame:
    Product  Price  Year
0  Samsung  20000  2014
1    Apple  48000  2015
2   Xiaomi  22000  2016
3     Oppo  19000  2017
4   Huwaei  45000  2018

Descriptive statistics of year:

count       5.000000
mean     2016.000000
std         1.581139
min      2014.000000
25%      2015.000000
50%      2016.000000
75%      2017.000000
max      2018.000000
Name: Year, dtype: float64

In [ ]:
# Create DataFrame
cart = {'Product': ['Samsung', 'Apple', 'Xiaomi', 'Oppo', 'Huwaei'],
		'Price': [20000, 48000, 22000, 19000, 45000], 
		'Year': [2014, 2015, 2016, 2017, 2018]
		}
df = DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Describing descriptive statistics of whole dataframe
print("\nDescriptive statistics of whole dataframe:\n")
stats = df.describe(include = 'all')
print(stats)

Original DataFrame:
    Product  Price  Year
0  Samsung  20000  2014
1    Apple  48000  2015
2   Xiaomi  22000  2016
3     Oppo  19000  2017
4   Huwaei  45000  2018

Descriptive statistics of whole dataframe:

       Product        Price         Year
count        5      5.00000     5.000000
unique       5          NaN          NaN
top     Huwaei          NaN          NaN
freq         1          NaN          NaN
mean       NaN  30800.00000  2016.000000
std        NaN  14411.80072     1.581139
min        NaN  19000.00000  2014.000000
25%        NaN  20000.00000  2015.000000
50%        NaN  22000.00000  2016.000000
75%        NaN  45000.00000  2017.000000
max        NaN  48000.00000  2018.000000

In [ ]:
# Create DataFrame
cart = {'Product': ['Samsung', 'Apple', 'Xiaomi', 'Oppo', 'Huwaei'],
		'Price': [20000, 48000, 22000, 19000, 45000], 
		'Year': [2014, 2015, 2016, 2017, 2018]
		}
df = DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Print Count of Price
print("\nCount of Price:\n")
counts = df['Price'].count()
print(counts)

# Print mean of Price
print("\nMean of Price:\n")
m = df['Price'].mean()
print(m)

# Print maximum value of Price
print("\nMaximum value of Price:\n")
mx = df['Price'].max()
print(m)

# Print standard deviation of Price
print("\nStandard deviation of Price:\n")
sd = df['Price'].std()
print(sd)

Original DataFrame:
    Product  Price  Year
0  Samsung  20000  2014
1    Apple  48000  2015
2   Xiaomi  22000  2016
3     Oppo  19000  2017
4   Huwaei  45000  2018

Count of Price:

5

Mean of Price:

30800.0

Maximum value of Price:

30800.0

Standard deviation of Price:

14411.800720243116